# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignoring virtual environments
.venv/
venv/
env/
ENV/

# Poetry
.poetry/
*.lock

# IDE
.idea/
.vscode/

# Дистрибутивы и сборки
build/
dist/
*.egg-info/

# Локальные базы данных
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Other common files
*.DS_Store
*.egg-info/
*.env
.streamlit/secrets.toml

pages/FF.py
pages/age_groups.py
pages/orgs_table.py
pages/report.py
pages/runs_table.py
pages/short_output.py
pages/subbota.py
pages/tags.py
pages/test2.py
pages/test_ff.py
pages/test_orgs.py
pages/test_runners.py

atxivpages